<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <style>
        .form-group {
            height: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    </style>    
    <title>Add Product</title>
</head>
<body style="background: url(https://ubielife.com/wp-content/uploads/2017/03/Online_Business_Page_Side_Image_640x518.png); background-repeat: no-repeat; background-position-x: center; background-size:auto;" text-align:'center'>
    <br>
    <br>
    <div class="form-group">
        <input type="text" placeholder="Product Name" name="title" id="title">
        <br>
        <br>
        <input type="text" placeholder="Description" name="description" id="description">
        <br>
        <br>
        <input type="text" placeholder="Product Image URL" name="imglink" id="imglink">
        <br>
        <br>
        <input type="text" placeholder="Price" name="price" id="price">
        <br>
        <br>
        <button id="submititem">ADD</button>
    </div>
<script src="/scripts/admin.js"></script>

</body>
</html>